01_Input_More/
02_Output/
dev/
notes/
build/
notes.md
__pycache__
delauney_versus_alphaShapes.png
foo.png
graph.png
scripts/
pytest-env
.vs/
.vscode/
emojifile.txt
tagmaps.egg-info
tagmaps/tests/pytest-env/
tagmaps/.pytest_cache/
conda.recipe
environment_dev.yml
.pylintrc
venv/