[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
autopep8 = "*"
cx-freeze = "*"
distutils = "*"

[packages]
numpy = "*"
pandas = "*"
shapely = "*"
fiona = "*"
pycodestyle = "*"
attr = "*"
pyproj = "*"
matplotlib = "*"
seaborn = "*"
descartes = "*"
regex = "*"
python-semantic-release = "*"
gdal = "*"

[requires]
python_version = "3.6"
