# This supplementary file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
pip>=23.2.0
setuptools>=64.0.0
fiona
shapely
pandas>=0.24.2
pyproj>=2.0.0
numpy
matplotlib>=3.0.0
emoji>=2.0.0
hdbscan>=0.8.31
seaborn
scipy